.layout {
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
}

html {
  background: #000000eb;
  height: 100vh;
}

.stylish-h {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(36%, #d82881), to(#8d27da));
  background: -webkit-linear-gradient(left, #d82881 36%, #8d27da);
  background: -o-linear-gradient(left, #d82881 36%, #8d27da 100%);
  background: linear-gradient(90deg, #d82881 36%, #8d27da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  color: transparent;
}
